/* ================= MAIN CONTENT ================= */

/* Contenedor centrado SOLO para páginas internas */
.main-content {
  width: 100%;
  max-width: 1200px;   /* limita solo productos, detalle, etc */
  margin: 0 auto;      /* centra */
  padding: 30px 20px;  /* quitamos padding lateral grande */
  box-sizing: border-box;
}

/* ================= TOAST ================= */

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background: black;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  z-index: 2000;
}